django
djangorestframework
celery
redis
psycopg2-binary
python-dotenv
django-celery-results
pvlib
pvanalytics
metpy
cdsapi
netcdf4
xarray
cfgrib
plotly
python-docx
openpyxl
scikit-learn
statsmodels
dask
windrose
numpy
pandas
matplotlib
scipy
seaborn
tqdm
requests
papermill
ipykernel
jupyter