.react-datepicker__header {
  background-color: #8DC63F !important;
  border-bottom: none !important;
}
.react-datepicker__current-month,
.react-datepicker__day-name {
  color: white !important;
}
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #8DC63F !important;
  color: white !important;
}
.react-datepicker__day:hover {
  background-color: #EAF5CE !important;
  color: #4E7A1A !important;
}
.react-datepicker__navigation-icon::before {
  border-color: white !important;
}